/* Write your CSS code in this file */
* {
    background-color: #40e0d0;
    font-weight: 300;
    font-family: Georgia, serif;
    text-align: center;
}

input {
    background-color: white;
}
button {
    background-color: white;
}

