/* Write your CSS code in this file */
* {
    background-color: #40e0d0;
    font-weight: 300;
    font-family: Georgia, serif;
    text-align: center;
}

input {
    background-color: white;
    margin-bottom: 1rem;
}
button {
    background-color: white;
    text-align: center;
    height: 120%;
    width: 15%;
}

img {
    height: 50%;
    width: 50%;
    margin-top: 2rem;
}
